* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f4f6f9;
  color: #333;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  transition: 0.3s ease;
}

button:hover {
  opacity: 0.9;
}
