.form-container {
  width: 100%;
  max-width: 430px;
  margin: 100px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  text-align: center;
  /* transition: background-color,transform 1s ease-in ; */
  
}

/* .form-container:hover{
    background-color: rgb(213, 210, 206);
    transform: scale(1.1);
    
} */

.form-container h2,p {
  margin-bottom: 20px;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.form-container textarea {
  resize: none;
  height: 100px;
  margin-top: 15px;
}

.form-container button {
  height:40px;
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg,#abaabd,#7e807f);
  color: white;
  font-weight: bold;
  margin-top: 15px;
}
